<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo Application</title>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

<h1 class="text-center text-white mt-4">Todo Application</h1>

<div class="container todo-container">
    <h4 class="todo-heading">
        <i class="bi bi-calendar-check"></i> <span>ToDo List</span>
    </h4>

    <form class="d-flex mb-4 todo-form" th:action="@{/add}" method="post">
        <input type="text" name="title" placeholder="Add your task" class="form-control todo-input" required>
        <button type="submit" class="btn btn-add">Add<span>+</span></button>
    </form>

    <div th:if="${#lists.isEmpty(todos)}" class="text-center no-data-message">
        No data found
    </div>

    <div class="todo-list">
        <div th:each="todo : ${todos}" class="todo-item">
            <div class="d-flex align-items-center">
                <a th:href="@{/update/{id}(id=${todo.id})}">
                    <i class="bi"
                       th:classappend="${todo.completed} ? 'bi-check-circle-fill check-icon completed' : 'bi-circle unchecked-icon'"></i>
                </a>
                <span th:text="${todo.title}" th:classappend="${todo.completed} ? 'completed'" class="todo-text"></span>
            </div>
            <a th:href="@{/delete/{id}(id=${todo.id})}" class="delete-btn">
                <i class="bi bi-trash3"></i>
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
